@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Employee/add" method="post">
    Id: <input type="text" name="Id" /><br />
    Name:<input type="text" name="name" /><br />
    Designation:<input type="text" name="Designation" /><br />
    Role :<input type="text" name="Role" /><br />
  

    <input type="submit" value="submit" class="btn btn-primary" />


</form>